<app-header></app-header>
<app-menu></app-menu>

<div class="card">
    
<mat-grid-list cols="4" rowHeight="300px">
    <h4 class="title">Gallary</h4>
    <mat-grid-tile
        *ngFor="let tile of tiles"
        
        >
        <img class="img"src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.6435-9/c0.34.600.600a/p600x600/245450031_228957575960472_6539602996856110005_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHpMTm5j6srvKCIUNJ3pcFd99w6F9s1KQ733DoX2zUpDkM8wyNUKmHY4hNTlwh8QegZeKvYTl3ke9iVMZWFhLfg&_nc_ohc=6DH22F7u-Q0AX-S_KHH&_nc_ht=scontent.fceb1-2.fna&oh=4b7a4acfcfa5f50aee9dcd5ead363a0d&oe=61916921" alt="">
     
      
    </mat-grid-tile>
  </mat-grid-list>
</div>
