.list{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    
}
mat-icon{
    color: #777;
    
}
.list h4{
    display: flex;
    margin-left: 2%;
    color: #777;
    transition: all .3s ease;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.list mat-icon:hover{
  color: #fff;
}
.list h4:hover{
    background-color: #555;
    color: #fff;
    
}

